[alias]
  a = add
  b = branch
  c = commit
  co = checkout
  cv = commit -v
  da = ![ ! -z "$(git show-ref -s origin/main)" ] && git diff main... || git diff master...
  dc = diff --cached
  d = diff
  df = ![ ! -z "$(git show-ref -s origin/main)" ] && git diff --name-only main... || git diff --name-only master...
  ds = ![ ! -z "$(git show-ref -s origin/main)" ] && git diff --stat main... || git diff --stat master...
  last = log -1 HEAD --stat
  last-tag = !git fetch -a --tags && git tag | grep release | sort -V | tail -n 1
  ll = log --oneline
  l = log
  root = rev-parse --show-toplevel
  r = reset
  short-ref = rev-parse --short
  s = status
  sta = stash show -p
  stf = stash show --name-only
  st = stash
[core]
  excludesFile = ~/.gitignore
[init]
  defaultBranch = main
[pull]
  rebase = false
[user]
  name = Shaun Molloy
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
